<!DOCTYPE html>
<!-- build:[manifest] index.min.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Simon</title>
  <meta name="description" content="Simon game">
  <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,"><!-- Suppress browser request for favicon.ico -->

  <!-- To ensure CSS files are downloaded in parallel, always include external CSS before external JavaScript. -->
  <!-- build:[href] css/everything.min.css -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/game.css">
  <!-- /build -->

  <!-- build:js js/everything.min.js -->
  <script src="lib/angular.js"></script>
  <script src="lib/turnBasedServices.3.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/gameLogic.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/game.js"></script>
  <script src="ts_output_readonly_do_NOT_change_manually/src/aiService.js"></script>
  <!-- /build -->
</head>
<body ng-cloak>
<div id="gameArea">

  <div class="canvas">
    <button type="button" class="play-btn" aria-label="Play Sequence" ng-disabled="game.shouldBeDisabled" ng-click="game.animateSequence(game.state, true)">
        <i class="fa fa-play play-btn__icon" title="play" aria-hidden="true"></i>
    </button>
    <div style="width:100%; height:50%;" class="row">
      <div class="pad green" tabindex="0" style="width:50%; height:100%;" ng-click="game.cellClicked(0)"><div id="greenRing"></div> </div>
      <div class="pad red" tabindex="0" style="width:50%; height:100%;" ng-click="game.cellClicked(1)"><div id="redRing"></div> </div>
    </div>
    <div style="width:100%; height:50%;" class="row">
      <div class="pad yellow" tabindex="0" style="width:50%; height:100%" ng-click="game.cellClicked(2)"><div id="yellowRing"></div> </div>
      <div class="pad blue" tabindex="0" style="width:50%; height:100%;" ng-click="game.cellClicked(3)"><div id="blueRing"></div> </div>
    </div>
  </div>
</div>
     <script charset="utf-8">
      (function() {
        'use strict';
        const playBtn = document.querySelector('.play-btn');
        const initPlaying = function() {
          playBtn.disabled = true;
          playBtn.classList.add('play-btn--playing');
          setTimeout(function() {
            playBtn.classList.remove('play-btn--playing');
            // playBtn.disabled = false;
          }, 1 * 1000);
        };
        playBtn.addEventListener('touchend', function(evt) {
          evt.preventDefault();
          initPlaying();
        });
        playBtn.addEventListener('click', initPlaying);
        playBtn.addEventListener('keyup', function(evt) {
          if (evt.key && evt.key === 'Space' || evt.keyCode === 32) {
            initPlaying();
          }
        });
      })();
    </script>
</body>
</html>
